#third{
			width: 100%;
			height: 80px;
			padding: 20px;
			padding-bottom: 0px;
			padding-top: 10px;
			float: left;
			position: fixed;
			bottom: 0;
			left:0;
			background-color: rgba(1,1,1,0.8);
			color:rgb(250,250,250);
			font-family: "Segoe Script";
		}
		 #mod{
			display: inline;
			position: absolute;
			right: 50px;
		}
audio{
		position: fixed;
		margin-top: 28px;
		right: 20px;
		width: 90%;
		}
label{

	font-family: "Segoe Script";
	width: 500px;
	height: 10px;
}
#emoji{
	width: 75px;
	height: 75px;
	display: inline-grid;
	border-color: rgba(1,1,1,0.5);
	background:transparent url("next.png");
	/*mix-blend-mode: multiply;*/
	background-size: cover;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-top-right-radius: 50%;
}
#xyz{
			display: inline;
			position: absolute;
			
		}
.backbutton{
  /* background-color: #4CAF50; /* Green */ */
  /* border-radius: 30px;  */
  /* color: white; */
  /* padding: 10px 20px; */
  /* background: transparent; */
  /* text-decoration: none; */
  /* display: block; */
  /* font-size: 16px; */
  /* margin: 2% 90%; */
  /* margin-right: 10px; */
  /* cursor: pointer; */
	/* button:hover { */
	/* background-color: #3e8e41;  /* text-align: center; */ */

	/* } */
	
	width:100%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-right: 50px;
  margin-top: 20px;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
  font-size: 19px;
 
}